body {
    font-family: Arial, sans-serif;
    color: #6f6c6c;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #2b2f2b;
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Cabeçalho (header) */
  h1 {
    font-size: 32px;
    color: #fff; 
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #f2f7ea;
    text-decoration: none;
  }
  
  /* Conteúdo Principal (main) */
  
  section {
    padding: 50px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
    
    h1 {
      font-size: 32px;
      color: #fff; /* Cor do título principal */
    }
    
    p {
      font-size: 16px;
      line-height: 1.5;
    }
    
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    nav li {
      display: inline-block;
      margin-right: 20px;
    }
    
    nav a {
      color: #ebce3c;
      text-decoration: none;
    }
    
    /* Conteúdo Principal (main) */
    
    section {
      padding: 50px;
    }
    
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    h3 {
        font-size: 40px;
        margin-bottom: 20px; 
    }
      
    /* Responsividade (a partir de 768px) */
    
    @media screen and (min-width: 768px) {
      nav ul {
        display: flex;
      }
    
      nav li {
        margin-right: 0;
        margin-left: 20px;
      }
    }
    